*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        /* ? START  HEADER  */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2% 5%;
    font-family:'Poppins', sans-serif;
    i{
        font-size:20px;
        color: #02897A;
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .btn{
        background-color:#fff;
        border: solid gray;
        padding:8px 25px;
    }
    .btn1{
        background: #02897A;
        color: #fff;
        padding: 10px 25px;
        border: none;
        border-radius: 8px;
    }
}
    /*? END HEADER */


    /*? START HERO */
    .hero{
        font-family: 'Poppins',sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 5%;
        .hero-left{
            max-width:500px;
           
            h1{
                font-size:40px;
            }
            p{
                margin-top:25px;
            }
             .hero-buttons{
                display: flex;
                gap:30px;
                margin-top:30px;
                .btn3{
                    background: #02897A;
                    color: #fff;
                    border: none;
                    padding:10px 25px;
                    border-radius:7px;
                }
                .btn4{
                     background-color: #fff;
                     color:#02897A ;
                }
             }
        }
    }
       /* ? END HERO */


       /*? START BLOCK */
     .blocks{
        font-family: 'Poppins', sans-serif;
        padding:3% 5%;
        background-color:#EDEDED;
        h1{
            color:#22343D;
            text-align: center;
            font-size:32px;
         }
        .BLOCKS{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:5% 0px;
            .block{
                max-width:200px;
                b{
                    padding-top:20px;
                    font-size:22px;
                }
                p{
                    margin-top:10px;
                    font-size: 16px;
                }
              }
            }
            .btn5{
                padding:15px 30px;
                background-color: #02897A;
                color: #fff;
                border: none;
                border-radius:3px;
                margin-left:550px;
            }
       }
        /* ?  END BLOCKS  */
 

        /* ? START CONTENTS */
     .contents{
        padding:5% 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            object-fit: cover;
        }

        .content-left{
            max-width:400px;
            font-family:'Poppins', sans-serif;
            h2{
                font-size:32px;
            }
        }
     }     